<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1><%= title %></h1>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="upload/show">업로드</a>
      </div>
      <div id="list">
        <% for(var i = 0; i < data.length; i++) { %>
          <div class="card">
              <div class="card-body">
                <h5 class="card-title"><%= data[i] %></h5>
                <h6 class="card-subtitle mb-2 text-muted"><%= data[i].lastMod %></h6>
                <a href="<%= '/storage/' + data[i] %>" class="card-link">다운로드</a>
                <a href="#" class="card-link">삭제</a>
              </div>
            </div>
        <% } %>
      </div>
    </div>
  </body>
</html>
